@import url(https://fonts.googleapis.com/css?family=Andika|Boogaloo);
input[type="radio"] {appearance: none; font-size: 2vh; width: 1.4em; height: 1.4em; border-radius: 0.5em; text-align: center; color: #5C102A; background-color: #CC5070; transition: 250ms;}
input[type="radio"]:before {content: "✖";}
input[type="radio"]:checked:before {content: "✔";}
input[type="radio"]:checked {background-color: #50C870; color: #185A2C;}

body {overflow: hidden; background-color: #452D2F; font-family: Andika; color: #1D3B4F;}
div.container {display: flex; justify-content: center; align-items: center; position: relative;}
div.layer-top {overflow: hidden; z-index: 6;}
div.layer-bottom { display:grid; position: absolute; height: min(98vh,57vw); width: min(172vh,98.6vw); border-radius: 0.5em; background-color: #FFF9F4; overflow: hidden; z-index: 0;}
div.statebar {
	font-family:Boogaloo;
	position: absolute;
	width: min(155vh,90vw);
	text-align: center;
	font-size: 4vh;
	overflow: hidden;
	color: #1D3B4F;
	background: #99BBEE;
	color: #480912;
	vertical-align: baseline;
	z-index: 7;
	top: 0.4vh;
	border-radius: 1em;
	padding-left: 1em;
	padding-right: 1em;
	opacity: 0.9;
}
div.navbar {
	position: absolute;
	width: min(155vh,90vw);
	text-align: center;
	font-size: 2.6vh;
	overflow: hidden;
	color: #1D3B4F;
	background: #99BBEE;
	color: #480912;
	vertical-align: baseline;
	z-index: 8;
	bottom: 0.4vh;
	opacity: 0.85;
	border-radius: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.15em;
}
textarea.myconsole {
	display:none;
	float: left;
	word-wrap:break-word;
	overflow-y: scroll;
	width: min(65vh,38vw);
	border-style: none;
	font-family: Andika;
	font-size: 1.7vh;
	background: #CCCCCC;
	position: absolute;
	z-index: 9;
	top: 0;
	opacity: 0.75;
	vertical-align: bottom;
}
input[type="text"],input[type="number"] {font-family: Andika; font-size: 2vh; border-radius: 1em; padding-left: 1em; padding-right: 1em; border-width: 0.1em;}
button {font-family: Andika; font-size: 2vh; vertical-align: baseline; border-radius: 1em; padding-left: 0.7em; padding-right: 0.7em; border-width: 0.1em;}
input#lineWidthIn{width: 5em;}
input[type="color"]{height: 3vh; width: 3vh; border-radius: 1.5vh;}
input[type="file"] {display:none;}
div.slide {display: none;}
div.twocol{display: grid; grid-template-columns: auto auto; padding-left: 0.2em;}
div.idyd{overflow: hidden; border-width:0.1em; width: min(85vh,49vw); align-items: center;}
div.firstline{font-family: Andika; font-size: 0.4vh;}
div.question {vertical-align: baseline;}
div.answer {vertical-align: baseline; font-size: 4vh; padding-left:2vh; padding-right:2vh; text-align: center;}
div.startbox{
	display:grid;
	grid-template-rows: auto 9vh;
	word-wrap: break-word;
	overflow: hidden;
	margin-left:0.1em;
	margin-right:0.1em;
	border-width:0.1em;
	height: min(42vh,24.4vw);
	border-style: solid;
	border-radius: 0.5em;
	border-color:#A1CFEF;
	font-weight: bold;
}
p {
	font-family: Andika;
	font-size: 4.3vh;
	word-break: break-word;
	overflow-wrap: break-word;
	text-align: justify;
	vertical-align: baseline;
	margin:0;
}
p.normal {padding-left:2vh; padding-right:2vh; padding-top:0.8vh; padding-bottom:0.8vh;}
h2{ font-family: Andika; margin-top:0.25em; font-size: 5vh; padding-left:2vh; padding-right:2vh; margin-bottom: 0.1em;}
p.starttxt {font-size: 3.5vh; padding-left:2vh;	padding-right:2vh; padding-top:1vh;}
output.ans {display: none; font-weight: bold; color: #7030A0; border-style:solid; border-color: #B5111D; padding-bottom: 0.1em;}
button.reveal {	vertical-align: baseline;font-size: 3.8vh;font-family: Andika;}
span.ltx {vertical-align:baseline; font-size: 0.9em;}
span.ltfr {vertical-align:baseline; font-size: 1.15em;}