body {
	position: absolute;
	margin: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	font-size: 13px;
	padding: 1em;
	box-sizing: border-box;
}

h6 {
	margin-top: 0;
	opacity: 0.6;
	font-size: 1vw;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

#controls {
	z-index: 1;
	position: absolute;
	bottom: 2%;
	background: #99BBEE;
	opacity: 0.92;
	font-size: 1vw;
	padding: 0.2%;
	border-radius: 0.2em;
}
