@import url(https://fonts.googleapis.com/css?family=Andika|Boogaloo|Nunito);

*{
	font-family: Andika;

}

body {
	background-color: #FFF9F4;
	font-color: #1D3B4F;
}

h1 {	
	font-size: 36px;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;
}
